@model IEnumerable<LayoutFootWear_master.Models.Entities.SanPham>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>View All Products</h2>
            </div>
        </div>
        <div id="content">
            <div class="row row-pb-md">

                @foreach (var item in Model)
                {

                    <div class="col-md-3 col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/images/@item.AnhDaiDien" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                            <div class="desc">
                                <h2><a href="@Url.Action("DeletedProduct", "FootwearMaster", new {id = item.MaSanPham})">@item.TenSanPham</a></h2>
                                <span class="price">@item.DonGiaBanNhoNhat</span>
                            </div>
                        </div>
                    </div>
                }

                <div class="w-100"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#"><i class="ion-ios-arrow-back"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="ion-ios-arrow-forward"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
